.taskSidebar{
    background-color: #FFFFFF;
    position: relative;
    left: -240px;
    top: 0;
    bottom: 0;
    width: 240px;
    z-index: 1;
    border-right: 1px solid #E8E8E8;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    float: left;
}
.header{
<<<<<<< HEAD
    position: relative;
    background: #FFFFFF;
    height: 50px;
    box-shadow: 0px -2px 5px #333333;
    z-index: 10;
    bottom: 0px;
    margin-bottom: 25px;
    padding: 10px;
}
.header>span{
    font-size: 20px;
    font-weight: 500;
=======
    background: #1890ff;
    height: 45px;
>>>>>>> 43863294dcec4ba8a45c43ec1c3688734a94dfb2
}
.li{
    height: 50px;
    padding: 10px;
}
.li:hover
{
   background-color:#E6F7FF;
}
.li>span{
    margin: 0px 0px 10px 20px;
    font-size: 20px;
}
.rightMain{
    float: left;
<<<<<<< HEAD
}
.rightMain>div{
    position: relative;
    min-height: 500px;
    padding: 0 170px 32px 64px;
    overflow: hidden;
    background: #fff;
=======
>>>>>>> 43863294dcec4ba8a45c43ec1c3688734a94dfb2
}